:root {
    --grey: #e9eaec;
}

body {
    /**font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;**/
    color: #222;
}

header {
    width: 75%;
    height: 100px;
    overflow: hidden;
}

section {
    background-color: var(--grey);
    width: 50%;
}

img {
    width: 100%;
    border-radius: 15px;
    height: 40%;
}

h1 {
    font-size: xx-large;
}

h2 {
    margin: 0;
    font-weight: 100;
    font-size: large;
}

p {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: medium;
}

.subsection {
    border-radius: 15px;
    margin: 20px auto;
    width: 400px;
    padding: 20px;
}

